body {
    margin: 0;
    padding: 0;
    --nav-color: #3E5F44;
    --background-color: #5E936C;
    font-family: "Pixelify Sans", sans-serif;
    background-color: var(--background-color);
}

.nav-bar {
    background-color: var(--nav-color);
    padding: 20px;
}

nav {
    
    list-style: none;
    text-decoration: none;
    text-align: center;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}


nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #E8FFD7;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.hero {
    background-image: url('/images/heart-background.jpg');
    padding: 50px;
}
.hero img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    
}

.name {
    text-align: center;
    color: #E8FFD7;
    
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2rem;
}

.welcome {
    text-align: center;
    color: #E8FFD7;
    margin-top: 0;
    margin-bottom: 0;
    
}

h2, h3, h4, h5 {
    color: #93DA97;
}

.about-me, .skills, .projects, .contact, p {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    color: #E8FFD7;
}

.skills-image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.skills-image img, .contact-images img {
    width: 50px;
}

.project-list {
    display: block;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--nav-color);
    text-decoration: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-family: "Pixelify Sans", sans-serif;
    color: #E8FFD7;
    
}

.project-description {
    display: block;
    padding: 5px;
}

.contact-images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.footer {
    background-color: var(--nav-color);
    margin-top: 15px;
}
.footer a {
    text-decoration: none;
    color: #E8FFD7;
}